.img-div{
    background-color:black;
    width:90%;
}
.img-comp{
    background-color: rgb(87, 87, 78);
    width:95%;
    padding: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left:2.5%;
    margin-right:2.5% ;
    
}

