.img-div{
    background-color:black;
    width:90%;
}
.img-comp{
    background-color: red;
    width:85%;
    padding: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:5%;
    margin-right:5% ;
    
}

